@import "tailwindcss";

:root {
  /* --bg-start: rgba(193, 122, 92, 0.5);
  --bg-end: rgba(215, 232, 253, 0.5); */
  --bg-start: rgba(243, 230, 229, 0.55); /* 浅暖粉/珊瑚感 */
  --bg-end: rgba(255, 241, 239, 0.55); /* 更浅柔和色，渐变终点 */
  --bg-angle: 135deg;
  --sidebar-width: 220px;
  --titlebar-height: 38px;
  --tab-manger: 10px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
